*{
  box-sizing:border-box;
        font-family:Arial, Helvetica, sans-serif ;
}
.boxcenter{
  width: 100%;
  margin: 0 auto;
}
.row{
  float: left;
  width: 100%;
}
.kc{
  margin-bottom: 20px;
 
}
.kc3{
  margin-bottom: 10px;
  margin-right: 1%;
  margin-left: 0.2%;
}
.kc1{
  margin-bottom: 90px;
}
.mr{
  margin-right: 1.1%;
}
.rowmenu{
  width:100%;
  min-height:auto;
}
.demo{
    background: yellow;
}
.left{
    float: left;
    width:50%;
    min-height: auto;
}
.right{
    float: right;
    width:50%;
    min-height: auto;
}
.menu ul{
     padding: 40px 10px;
 } 
.menu ul li{ 
     list-style-type: none;
     display: inline;
      padding: 0 15px;
     margin-left: -12px;
     }
.menu ul li a{ 
   font-size: 17px;
          font-family: arial, Georgia;
         font-weight: 700;
          color: black; 
          text-decoration: none; /* dùng để xóa dấu gạch ngan ở dưới chân thẻ a*/
         
         
        } 
.menu ul li a:hover{ 
            color: #808080;
             font-size: 1.3vw; 
             transition: 0.5s;
             margin-top: 300px;
             }
.footer{
                width: 100%;
            min-height: 300px;
           background: #B8B8B8;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.img1 img {
 
    padding: 0px 200px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    
}
.img2 img {
 margin-left: 200px;
  width: 500px;
  border-radius:15%;
  -moz-border-radius:15%;
  -webkit-border-radius:15%;
}
/*button*/
.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  margin-top:-20px;
 
  }
.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
  }
.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
  }
/*nút*/
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.nut {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 15px;
  line-height: 1em;
  margin-left: 500px;
  margin-top: 100px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.nut:before,
.nut:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.nut:before {
  border-color: #c47135;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}
.nut:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  bottom: -5px;
  right: 0px;
}
.nut:hover,
.nut.hover {
  background-color: #c47135;
}
.nut:hover:before,
.nut.hover:before,
.nut:hover:after,
.nut.hover:after {
  height: 100%;
  width: 100%;
}
.boxsp{
  float: left;
  width: 32%;
  min-height: 200px;
  border: 1px #BEBEBE solid;
  border-radius: 5px;

  
}
.anh{
  text-align: center;
}
.anh img {
  width: 90%;
  height: 250px;
 border-radius:5px;
 margin-top:4px ;
}
/*form đăng nhập*/
section .noi-dung .form .input-form{
  margin-bottom: 20px;
}
section .noi-dung .form .input-form span{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607db8;
  letter-spacing: 1px;
   }
section .noi-dung .form .input-form input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
  }
section .noi-dung .form .input-form input[type="submit"]{
  background: #ff4584;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
             0 2px 2px rgba(0,0,0,0.12),
             0 4px 4px rgba(0,0,0,0.12),
            0 8px 8px rgba(0,0,0,0.12),
            0 16px 16px rgba(0,0,0,0.12);
}
section .noi-dung .form .input-form input[type="submit"]:hover{
  background: #f53677;
}
section .noi-dung .form .nho-dang-nhap{
  margin-bottom: 10px;
  color: #607d8b;
  font-size: 14px;
}
section .noi-dung .form .input-form p{
  color: #607d8b;
}
section .noi-dung .form .input-form p a{
  color: #ff4584;
}

.menucon{
  width: 15%;
  min-height: 200px;
 border: 1px black solid;
 border-radius: 5px;
}
.menucon ul{
  padding: 20px 20px;
} 
.menucon ul li{ 
  list-style-type: none;
  display: inline;
  }
.menucon ul li a{ 
font-size: 17px;
       font-family: arial, Georgia;
      font-weight: 700;
       color: black; 
       text-decoration: none; /* dùng để xóa dấu gạch ngan ở dưới chân thẻ a*/
       border-bottom: 1px  solid rgba(79, 71, 42, 0.5);
       white-space: nowrap;
       padding: 10px 20px;
     } 
.menucon ul li a:hover{ 
  background: #D3D3D3;
         color: #808080;
          font-size: 1.3vw; 
          transition: 0.5s;
          margin-top: 300px;
          }